/** NAVIGATION HEADER **/
#header-nav {
	background-color: #909497;
	border-radius: 0;
	border: 0;
}
.navbar-brand { /* Restaurant name: Food LLC*/
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Bebas Neue', cursive;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #909497;
	border-radius: 0;
	border: 0;
	height: 100px;
}

.h1, h1 {
    font-size: 60px;
    position: relative;
    bottom: 15px;
    color: #282828;
    text-decoration: none;
}

.h2, h2 { /* title of page: Our Menu */
	font-weight: bold;
	padding-bottom: 10px;
	text-decoration: none;
}

.h3, h3 {
	font-style: italic;
	color: #000000;
}

p {
	margin: 10px 10px 10px;
	color: #000000;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list a {
    color: black;
    text-align: center;
    background-color: white;
	margin-top: -7px;
    margin-bottom: -7px;
    border: 2px solid black;
    height: 50px;
}

div.chicken-nav, div.beef-nav, div.sushi-nav {
	margin-top: -17px;
}

#chicken-title:hover, #beef-tile:hover, #sushi-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#chicken-tile span, #beef-tile span, #sushi-tile span {
	position: absolute;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
	/* HOME PAGE */
	#chicken-tile, #beef-tile, #sushi-tile {
		margin-bottom: 50px;
		width: 100%;
		position: relative;
		border: 2px solid black;
		overflow: hidden;
		background-color: #909497;
	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/* HOME PAGE */
	#chicken-tile, #beef-tile, #sushi-tile {
		width: 100%;
		margin-bottom: 50px;
		position: relative;
		border: 2px solid black;
		overflow: hidden;
		background-color: #909497;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#chicken-tile, #beef-tile {
		width: 360px;
		margin: 0 auto 15px;
		position: relative;
		border: 2px solid black;
		overflow: hidden;
		background-color: #909497;
	}

	#sushi-tile {
		width: 735px;
		margin-bottom: 50px;
		position: relative;
		border: 2px solid black;
		overflow: hidden;
		background-color: #909497;
	}
}

@media (max-width: 767px) {

	#chicken-tile, #beef-tile {
		margin-bottom: 40px;
		position: relative;
		border: 2px solid black;
		overflow: hidden;
		background-color: #909497;
	}

	#sushi-tile {
		margin-bottom: 50px;
		position: relative;
		border: 2px solid black;
		overflow: hidden;
		background-color: #909497;
	}
}